In [36]:
!pip install azure-storage-blob
!pip install boto
!pip install boto3
!pip install google-cloud-storage
!pip install pyarrow

Requirement already satisfied: azure-storage-blob in c:\users\berire\anaconda3\lib\site-packages (12.19.1)
Requirement already satisfied: azure-core<2.0.0,>=1.28.0 in c:\users\berire\anaconda3\lib\site-packages (from azure-storage-blob) (1.30.1)
Requirement already satisfied: cryptography>=2.1.4 in c:\users\berire\anaconda3\lib\site-packages (from azure-storage-blob) (41.0.3)
Requirement already satisfied: typing-extensions>=4.3.0 in c:\users\berire\anaconda3\lib\site-packages (from azure-storage-blob) (4.7.1)
Requirement already satisfied: isodate>=0.6.1 in c:\users\berire\anaconda3\lib\site-packages (from azure-storage-blob) (0.6.1)
Requirement already satisfied: requests>=2.21.0 in c:\users\berire\anaconda3\lib\site-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.31.0)
Requirement already satisfied: six>=1.11.0 in c:\users\berire\anaconda3\lib\site-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in c:\users\berire\anaconda3\lib\site-packages (from cryptography>=2.1.4->azure-storage-blob) (1.15.1)
Requirement already satisfied: pycparser in c:\users\berire\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.21)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\berire\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\berire\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\berire\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\berire\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2024.2.2)
Requirement already satisfied: boto in c:\users\berire\anaconda3\lib\site-packages (2.49.0)
Requirement already satisfied: boto3 in c:\users\berire\anaconda3\lib\site-packages (1.34.88)
Requirement already satisfied: botocore<1.35.0,>=1.34.88 in c:\users\berire\anaconda3\lib\site-packages (from boto3) (1.34.88)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\berire\anaconda3\lib\site-packages (from boto3) (0.10.0)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\berire\anaconda3\lib\site-packages (from boto3) (0.10.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\berire\anaconda3\lib\site-packages (from botocore<1.35.0,>=1.34.88->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\berire\anaconda3\lib\site-packages (from botocore<1.35.0,>=1.34.88->boto3) (1.26.16)
Requirement already satisfied: six>=1.5 in c:\users\berire\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.35.0,>=1.34.88->boto3) (1.16.0)
Requirement already satisfied: google-cloud-storage in c:\users\berire\anaconda3\lib\site-packages (2.16.0)
Requirement already satisfied: google-auth<3.0dev,>=2.26.1 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-storage) (2.29.0)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.15.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-storage) (2.18.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-storage) (2.4.1)
Requirement already satisfied: google-resumable-media>=2.6.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-storage) (2.7.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-storage) (2.31.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-storage) (1.5.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage) (1.63.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage) (4.25.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage) (1.23.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\berire\anaconda3\lib\site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\berire\anaconda3\lib\site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\berire\anaconda3\lib\site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (4.9)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2024.2.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\berire\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=2.26.1->google-cloud-storage) (0.4.8)

In [37]:
# Import libraries
import pandas as pd
import numpy as np
import json
import requests 
import boto3
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from google.cloud import storage
from io import StringIO

s1 -> Gather -> Decompress -> Convert to Tabular -> Clean -> Reformat -> Consolidate -> Transform -> Load

In [38]:
# Read the CSV file into a DataFrame
airbnb_listings= '/Users/Berire/Desktop/BARUCH COLLEGE CLASSES/SPRING 2024/CIS 9440 DATA WAREHOUSING/HW 1/nyc airbnb data.csv'

df_raw = pd.read_csv(airbnb_listings)

df_raw.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,9.770000e+17,Home in Brooklyn · 1 bedroom · 1 bed · 1 bath,95344065,Derek,Brooklyn,Sheepshead Bay,40.591790,-73.942850,Private room,30.0,31,1,1/3/2024,0.86,7,339,1,NaN
1,7.300000e+17,Rental unit in The Bronx · 1 bedroom · 1 bed ·...,566660,Markus,Bronx,Longwood,40.827373,-73.903147,Private room,29.0,30,2,12/31/2023,0.14,2,34,1,NaN
2,6.480000e+17,Rental unit in Bronx · ★4.89 · 1 bedroom · 1 b...,421601513,J Carlos Retals,Bronx,Kingsbridge,40.863940,-73.903120,Private room,30.0,30,18,12/26/2023,0.95,3,359,6,NaN
3,6.230000e+17,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,106442885,Ava,Brooklyn,East New York,40.660730,-73.890500,Entire home/apt,76.0,30,1,5/19/2022,0.05,1,364,0,NaN
4,8.720000e+17,Rental unit in Queens · ★New · 1 bedroom · Hal...,484563208,Tricia,Queens,Howard Beach,40.663586,-73.834532,Private room,85.0,30,0,NaN,NaN,2,89,0,NaN

In [39]:
print(df_raw.shape)

(39202, 18)

In [40]:
print(df_raw.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [41]:
df_raw.dropna()
df_raw.shape

(39202, 18)

In [42]:
# Drop rows with missing values in the "price" column
df_raw = df_raw.dropna(subset=['price'])

df_raw.shape

(24267, 18)

In [43]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24267 entries, 0 to 39201
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              24267 non-null  float64
 1   name                            24267 non-null  object
 2   host_id                         24267 non-null  int64
 3   host_name                       24267 non-null  object
 4   neighbourhood_group             24267 non-null  object
 5   neighbourhood                   24267 non-null  object
 6   latitude                        24267 non-null  float64
 7   longitude                       24267 non-null  float64
 8   room_type                       24267 non-null  object
 9   price                           24267 non-null  float64
 10  minimum_nights                  24267 non-null  int64
 11  number_of_reviews               24267 non-null  int64
 12  last_review                     17561 non-null  object
 13  reviews_per_month               17561 non-null  float64
 14  calculated_host_listings_count  24267 non-null  int64
 15  availability_365                24267 non-null  int64
 16  number_of_reviews_ltm           24267 non-null  int64
 17  license                         3999 non-null   object
dtypes: float64(5), int64(6), object(7)
memory usage: 3.5+ MB

In [56]:
# Specify the path to your JSON configuration file
config_file_path = "config.json"

# Load the JSON configuration file
with open(config_file_path, 'r') as config_file:
    config= json.load(config_file)

# Print the configuration
#Connection_STRING = config["connectionString"]


CONNECTION_STRING_AZURE_STORAGE = config["connectionString"]
CONTAINER_AZURE= 'airbnb'
blob_name= "airbnb_20240402.csv"

# Convert Dataframe to CSV
output= StringIO()
df_raw.to_csv(output, index=False)
data= output.getvalue()
output.close()

# Create the BlobServiceClient object
blob_service_client= BlobServiceClient.from_connection_string(CONNECTION_STRING_AZURE_STORAGE )

# Get a blob client using the container name and blob name
blob_client= blob_service_client.get_blob_client(container=CONTAINER_AZURE, blob=blob_name)

# Upload the CSV data
blob_client.upload_blob(data, overwrite=True)

print(f"Uploaded {blob_name} to Azure Blob Storage in container {CONTAINER_AZURE}.")

Uploaded airbnb_20240402.csv to Azure Blob Storage in container airbnb.

In [1]:
!pip install azure-storage-blob
!pip install pyarrow

Requirement already satisfied: azure-storage-blob in c:\users\berire\anaconda3\lib\site-packages (12.19.1)
Requirement already satisfied: azure-core<2.0.0,>=1.28.0 in c:\users\berire\anaconda3\lib\site-packages (from azure-storage-blob) (1.30.1)
Requirement already satisfied: cryptography>=2.1.4 in c:\users\berire\anaconda3\lib\site-packages (from azure-storage-blob) (41.0.3)
Requirement already satisfied: typing-extensions>=4.3.0 in c:\users\berire\anaconda3\lib\site-packages (from azure-storage-blob) (4.7.1)
Requirement already satisfied: isodate>=0.6.1 in c:\users\berire\anaconda3\lib\site-packages (from azure-storage-blob) (0.6.1)
Requirement already satisfied: requests>=2.21.0 in c:\users\berire\anaconda3\lib\site-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.31.0)
Requirement already satisfied: six>=1.11.0 in c:\users\berire\anaconda3\lib\site-packages (from azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in c:\users\berire\anaconda3\lib\site-packages (from cryptography>=2.1.4->azure-storage-blob) (1.15.1)
Requirement already satisfied: pycparser in c:\users\berire\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.21)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\berire\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\berire\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\berire\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\berire\anaconda3\lib\site-packages (from requests>=2.21.0->azure-core<2.0.0,>=1.28.0->azure-storage-blob) (2024.2.2)
Requirement already satisfied: pyarrow in c:\users\berire\anaconda3\lib\site-packages (11.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\berire\anaconda3\lib\site-packages (from pyarrow) (1.24.3)

In [3]:
import pandas as pd
import numpy as np
import json 
import requests
from io import StringIO
from azure.storage.blob import BlobServiceClient, BlobClient, ContainerClient
from math import ceil
import datetime
import calendar

In [11]:
# Specify the path to your JSON configuration file
config_file_path = "config.json"

# Load the JSON configuration file
with open(config_file_path, 'r') as config_file:
    config= json.load(config_file)

# Print the configuration
#Connection_STRING = config["connectionString"]


CONNECTION_STRING_AZURE_STORAGE = config["connectionString"]
CONTAINER_AZURE= 'airbnb'

# Initialize the BlobServiceClient
blob_service_client= BlobServiceClient.from_connection_string(CONNECTION_STRING_AZURE_STORAGE )

# Get the container client
container_client = blob_service_client.get_container_client(CONTAINER_AZURE)


airbnb_df= pd.DataFrame()

# List all blobs in the specified container
blob_list = container_client.list_blobs()
for blob in blob_list:
    print(blob.name)
    blob_client = container_client.get_blob_client(blob=blob.name)
    blob_data = blob_client.download_blob()
    blob_content = blob_data.readall().decode('utf-8')  # Corrected line
    df = pd.read_csv(StringIO(blob_content))
    # Display the shape of the DataFrame
    print(df.shape)
    # Since there's only one CSV, I'm going to assign it to airbnb_df
    airbnb_df = df.copy()

airbnb.csv
(24267, 18)
airbnb_20240402.csv
(24267, 18)

In [12]:
airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,9.770000e+17,Home in Brooklyn · 1 bedroom · 1 bed · 1 bath,95344065,Derek,Brooklyn,Sheepshead Bay,40.591790,-73.942850,Private room,30.0,31,1,1/3/2024,0.86,7,339,1,NaN
1,7.300000e+17,Rental unit in The Bronx · 1 bedroom · 1 bed ·...,566660,Markus,Bronx,Longwood,40.827373,-73.903147,Private room,29.0,30,2,12/31/2023,0.14,2,34,1,NaN
2,6.480000e+17,Rental unit in Bronx · ★4.89 · 1 bedroom · 1 b...,421601513,J Carlos Retals,Bronx,Kingsbridge,40.863940,-73.903120,Private room,30.0,30,18,12/26/2023,0.95,3,359,6,NaN
3,6.230000e+17,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,106442885,Ava,Brooklyn,East New York,40.660730,-73.890500,Entire home/apt,76.0,30,1,5/19/2022,0.05,1,364,0,NaN
4,8.720000e+17,Rental unit in Queens · ★New · 1 bedroom · Hal...,484563208,Tricia,Queens,Howard Beach,40.663586,-73.834532,Private room,85.0,30,0,NaN,NaN,2,89,0,NaN

In [13]:
# Read the lookup.csv file with pandas 
airbnb_lookup_df = pd.read_csv('/Users/Berire/Desktop/BARUCH COLLEGE CLASSES/SPRING 2024/CIS 9440 DATA WAREHOUSING/HW 1/lookup.csv')
airbnb_lookup_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,9.770000e+17,Home in Brooklyn · 1 bedroom · 1 bed · 1 bath,95344065,Derek,Brooklyn,Sheepshead Bay,40.591790,-73.942850,Private room,30.0,31,1,1/3/2024,0.86,7,339,1,NaN
1,7.300000e+17,Rental unit in The Bronx · 1 bedroom · 1 bed ·...,566660,Markus,Bronx,Longwood,40.827373,-73.903147,Private room,29.0,30,2,12/31/2023,0.14,2,34,1,NaN
2,6.480000e+17,Rental unit in Bronx · ★4.89 · 1 bedroom · 1 b...,421601513,J Carlos Retals,Bronx,Kingsbridge,40.863940,-73.903120,Private room,30.0,30,18,12/26/2023,0.95,3,359,6,NaN
3,6.230000e+17,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,106442885,Ava,Brooklyn,East New York,40.660730,-73.890500,Entire home/apt,76.0,30,1,5/19/2022,0.05,1,364,0,NaN
4,8.720000e+17,Rental unit in Queens · ★New · 1 bedroom · Hal...,484563208,Tricia,Queens,Howard Beach,40.663586,-73.834532,Private room,85.0,30,0,NaN,NaN,2,89,0,NaN

In [14]:
airbnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [15]:
airbnb_df['last_review'] = pd.to_datetime(airbnb_df['last_review'])
airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,9.770000e+17,Home in Brooklyn · 1 bedroom · 1 bed · 1 bath,95344065,Derek,Brooklyn,Sheepshead Bay,40.591790,-73.942850,Private room,30.0,31,1,2024-01-03,0.86,7,339,1,NaN
1,7.300000e+17,Rental unit in The Bronx · 1 bedroom · 1 bed ·...,566660,Markus,Bronx,Longwood,40.827373,-73.903147,Private room,29.0,30,2,2023-12-31,0.14,2,34,1,NaN
2,6.480000e+17,Rental unit in Bronx · ★4.89 · 1 bedroom · 1 b...,421601513,J Carlos Retals,Bronx,Kingsbridge,40.863940,-73.903120,Private room,30.0,30,18,2023-12-26,0.95,3,359,6,NaN
3,6.230000e+17,Rental unit in Brooklyn · 1 bedroom · 1 bed · ...,106442885,Ava,Brooklyn,East New York,40.660730,-73.890500,Entire home/apt,76.0,30,1,2022-05-19,0.05,1,364,0,NaN
4,8.720000e+17,Rental unit in Queens · ★New · 1 bedroom · Hal...,484563208,Tricia,Queens,Howard Beach,40.663586,-73.834532,Private room,85.0,30,0,NaT,NaN,2,89,0,NaN

In [19]:
# Filter out rows where the number_of_reviews is lower than 10
airbnb_df = airbnb_df[airbnb_df['number_of_reviews'] >= 10]

# Filter out rows where the year of last review is not 2024
airbnb_df = airbnb_df[airbnb_df['last_review'].dt.year == 2024]

# Filter out rows where availability_365 is not equal to 0
airbnb_df = airbnb_df[airbnb_df['availability_365'] != 0]

# Filter out rows where number_of_reviews_ltm is not equal to 0
airbnb_df = airbnb_df[airbnb_df['number_of_reviews_ltm'] != 0]

airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
21,1.030000e+18,Rental unit in Queens · ★4.70 · 1 bedroom · 1 ...,231138233,Filiz,Queens,Ridgewood,40.704279,-73.899639,Private room,53.0,1,10,2024-01-29,4.35,7,12,10,Exempt
36,9.850000e+17,Rental unit in Queens · ★4.80 · 1 bedroom · 1 ...,231138233,Filiz,Queens,Ridgewood,40.705397,-73.898482,Private room,66.0,1,15,2024-01-31,3.81,7,11,15,Exempt
110,3.549684e+07,Rental unit in The Bronx · ★4.20 · 1 bedroom ·...,127836236,Segun,Bronx,Williamsbridge,40.881510,-73.849400,Entire home/apt,76.0,30,71,2024-01-05,1.26,1,338,11,NaN
124,4.276155e+07,Rental unit in BROOKLYN · ★4.84 · 1 bedroom · ...,312697286,Steven,Brooklyn,Gravesend,40.599200,-73.974500,Entire home/apt,106.0,5,73,2024-01-30,1.72,3,315,16,Exempt
157,8.299030e+06,Home in Brooklyn · ★4.59 · 1 bedroom · 1 bed ·...,1182180,"Isaac, Linda & Noelia",Brooklyn,Sunset Park,40.649800,-74.002040,Private room,50.0,30,32,2024-01-19,0.31,4,244,7,NaN

In [22]:
dim_host_df= airbnb_df[['host_id', 'host_name']].drop_duplicates(subset= 'host_id')
dim_host_df.head()

       host_id              host_name
21   231138233                  Filiz
110  127836236                  Segun
124  312697286                 Steven
157    1182180  Isaac, Linda & Noelia
165  379883703                Desmond

In [24]:
airbnb_df['room_type_id'] = pd.factorize(airbnb_df['room_type'])[0] + 1
airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,room_type_id
21,1.030000e+18,Rental unit in Queens · ★4.70 · 1 bedroom · 1 ...,231138233,Filiz,Queens,Ridgewood,40.704279,-73.899639,Private room,53.0,1,10,2024-01-29,4.35,7,12,10,Exempt,1
36,9.850000e+17,Rental unit in Queens · ★4.80 · 1 bedroom · 1 ...,231138233,Filiz,Queens,Ridgewood,40.705397,-73.898482,Private room,66.0,1,15,2024-01-31,3.81,7,11,15,Exempt,1
110,3.549684e+07,Rental unit in The Bronx · ★4.20 · 1 bedroom ·...,127836236,Segun,Bronx,Williamsbridge,40.881510,-73.849400,Entire home/apt,76.0,30,71,2024-01-05,1.26,1,338,11,NaN,2
124,4.276155e+07,Rental unit in BROOKLYN · ★4.84 · 1 bedroom · ...,312697286,Steven,Brooklyn,Gravesend,40.599200,-73.974500,Entire home/apt,106.0,5,73,2024-01-30,1.72,3,315,16,Exempt,2
157,8.299030e+06,Home in Brooklyn · ★4.59 · 1 bedroom · 1 bed ·...,1182180,"Isaac, Linda & Noelia",Brooklyn,Sunset Park,40.649800,-74.002040,Private room,50.0,30,32,2024-01-19,0.31,4,244,7,NaN,1

In [27]:
dim_room_df= airbnb_df[['room_type_id', 'room_type']].drop_duplicates(subset= 'room_type_id')
dim_room_df.head()

      room_type_id        room_type
21               1     Private room
110              2  Entire home/apt
1448             3      Shared room
5134             4       Hotel room

In [30]:
airbnb_df['location_id'] = pd.factorize(airbnb_df['neighbourhood'])[0] + 1
airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,room_type_id,location_id
21,1.030000e+18,Rental unit in Queens · ★4.70 · 1 bedroom · 1 ...,231138233,Filiz,Queens,Ridgewood,40.704279,-73.899639,Private room,53.0,1,10,2024-01-29,4.35,7,12,10,Exempt,1,1
36,9.850000e+17,Rental unit in Queens · ★4.80 · 1 bedroom · 1 ...,231138233,Filiz,Queens,Ridgewood,40.705397,-73.898482,Private room,66.0,1,15,2024-01-31,3.81,7,11,15,Exempt,1,1
110,3.549684e+07,Rental unit in The Bronx · ★4.20 · 1 bedroom ·...,127836236,Segun,Bronx,Williamsbridge,40.881510,-73.849400,Entire home/apt,76.0,30,71,2024-01-05,1.26,1,338,11,NaN,2,2
124,4.276155e+07,Rental unit in BROOKLYN · ★4.84 · 1 bedroom · ...,312697286,Steven,Brooklyn,Gravesend,40.599200,-73.974500,Entire home/apt,106.0,5,73,2024-01-30,1.72,3,315,16,Exempt,2,3
157,8.299030e+06,Home in Brooklyn · ★4.59 · 1 bedroom · 1 bed ·...,1182180,"Isaac, Linda & Noelia",Brooklyn,Sunset Park,40.649800,-74.002040,Private room,50.0,30,32,2024-01-19,0.31,4,244,7,NaN,1,4

In [33]:
dim_location_df= airbnb_df[['location_id', 'neighbourhood_group' , 'neighbourhood', 'longitude', 'latitude']].drop_duplicates(subset= 'location_id')
dim_location_df.head(40)

,location_id,neighbourhood_group,neighbourhood,longitude,latitude
21,1,Queens,Ridgewood,-73.899639,40.704279
110,2,Bronx,Williamsbridge,-73.849400,40.881510
124,3,Brooklyn,Gravesend,-73.974500,40.599200
157,4,Brooklyn,Sunset Park,-74.002040,40.649800
165,5,Staten Island,Port Richmond,-74.132010,40.631640
177,6,Manhattan,Harlem,-73.951260,40.821230
178,7,Brooklyn,South Slope,-73.984323,40.660606
211,8,Queens,Arverne,-73.793114,40.593266
227,9,Brooklyn,Bedford-Stuyvesant,-73.936100,40.684820
239,10,Manhattan,Upper East Side,-73.957010,40.773640
240,11,Brooklyn,Bushwick,-73.914240,40.690250
297,12,Bronx,Morris Park,-73.862730,40.850250
429,13,Manhattan,Little Italy,-73.996440,40.719650
514,14,Bronx,Soundview,-73.859600,40.824140
527,15,Brooklyn,Crown Heights,-73.937430,40.677510
530,16,Brooklyn,Downtown Brooklyn,-73.986960,40.697670
544,17,Manhattan,Midtown,-73.987808,40.747211
608,18,Manhattan,Financial District,-74.008608,40.707046
631,19,Queens,Jamaica,-73.779590,40.672430
750,20,Manhattan,Upper West Side,-73.972740,40.787640
788,21,Staten Island,Randall Manor,-74.096310,40.636070
802,22,Queens,Richmond Hill,-73.838190,40.698546
822,23,Brooklyn,Flatbush,-73.961990,40.650580
830,24,Queens,Laurelton,-73.743633,40.678467
834,25,Brooklyn,East New York,-73.879474,40.674962
878,26,Brooklyn,Cypress Hills,-73.884873,40.678806
886,27,Queens,Springfield Gardens,-73.749940,40.688650
906,28,Queens,Corona,-73.864437,40.737168
927,29,Manhattan,Hell's Kitchen,-73.991631,40.760363
953,30,Manhattan,Chelsea,-73.992270,40.747660
969,31,Queens,Elmhurst,-73.881703,40.743632
989,32,Manhattan,SoHo,-74.005420,40.726520
1000,33,Brooklyn,Williamsburg,-73.946715,40.707269
1012,34,Manhattan,East Village,-73.984026,40.726811
1049,35,Queens,Sunnyside,-73.925950,40.740550
1111,36,Manhattan,Lower East Side,-73.981452,40.719709
1276,37,Brooklyn,Sheepshead Bay,-73.953090,40.587200
1319,38,Queens,Astoria,-73.930862,40.767458
1324,39,Brooklyn,East Flatbush,-73.939560,40.640450
1352,40,Brooklyn,Canarsie,-73.894280,40.635030

In [35]:
dim_facts_df = airbnb_df[['minimum_nights','number_of_reviews', 'location_id', 'price', 'host_id', 'room_type_id']]
dim_facts_df.head()

,minimum_nights,number_of_reviews,location_id,price,host_id,room_type_id
21,1,10,1,53.0,231138233,1
36,1,15,1,66.0,231138233,1
110,30,71,2,76.0,127836236,2
124,5,73,3,106.0,312697286,2
157,30,32,4,50.0,1182180,1

In [37]:
!pip install pandas-gbq

Collecting pandas-gbq
  Downloading pandas_gbq-0.22.0-py2.py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: setuptools in c:\users\berire\anaconda3\lib\site-packages (from pandas-gbq) (68.0.0)
Collecting db-dtypes<2.0.0,>=1.0.4 (from pandas-gbq)
  Downloading db_dtypes-1.2.0-py2.py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\berire\anaconda3\lib\site-packages (from pandas-gbq) (1.24.3)
Requirement already satisfied: pandas>=1.1.4 in c:\users\berire\anaconda3\lib\site-packages (from pandas-gbq) (2.2.1)
Requirement already satisfied: pyarrow>=3.0.0 in c:\users\berire\anaconda3\lib\site-packages (from pandas-gbq) (11.0.0)
Collecting pydata-google-auth>=1.5.0 (from pandas-gbq)
  Downloading pydata_google_auth-1.8.2-py2.py3-none-any.whl.metadata (3.2 kB)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.10.2 in c:\users\berire\anaconda3\lib\site-packages (from pandas-gbq) (2.18.0)
Requirement already satisfied: google-auth>=2.13.0 in c:\users\berire\anaconda3\lib\site-packages (from pandas-gbq) (2.29.0)
Collecting google-auth-oauthlib>=0.7.0 (from pandas-gbq)
  Downloading google_auth_oauthlib-1.2.0-py2.py3-none-any.whl.metadata (2.7 kB)
Collecting google-cloud-bigquery<4.0.0dev,>=3.3.5 (from pandas-gbq)
  Downloading google_cloud_bigquery-3.21.0-py2.py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: packaging>=20.0.0 in c:\users\berire\anaconda3\lib\site-packages (from pandas-gbq) (23.1)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.63.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (4.25.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.23.0)
Requirement already satisfied: requests<3.0.0.dev0,>=2.18.0 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.31.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\berire\anaconda3\lib\site-packages (from google-auth>=2.13.0->pandas-gbq) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\berire\anaconda3\lib\site-packages (from google-auth>=2.13.0->pandas-gbq) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\berire\anaconda3\lib\site-packages (from google-auth>=2.13.0->pandas-gbq) (4.9)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib>=0.7.0->pandas-gbq)
  Downloading requests_oauthlib-2.0.0-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery<4.0.0dev,>=3.3.5->pandas-gbq) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery<4.0.0dev,>=3.3.5->pandas-gbq) (2.7.0)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery<4.0.0dev,>=3.3.5->pandas-gbq) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\berire\anaconda3\lib\site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\berire\anaconda3\lib\site-packages (from pandas>=1.1.4->pandas-gbq) (2023.3)
Collecting grpcio<2.0dev,>=1.33.2 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery<4.0.0dev,>=3.3.5->pandas-gbq)
  Downloading grpcio-1.62.2-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Collecting grpcio-status<2.0.dev0,>=1.33.2 (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery<4.0.0dev,>=3.3.5->pandas-gbq)
  Downloading grpcio_status-1.62.2-py3-none-any.whl.metadata (1.3 kB)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\berire\anaconda3\lib\site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery<4.0.0dev,>=3.3.5->pandas-gbq) (1.5.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\berire\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=2.13.0->pandas-gbq) (0.4.8)
Requirement already satisfied: six>=1.5 in c:\users\berire\anaconda3\lib\site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery<4.0.0dev,>=3.3.5->pandas-gbq) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0.dev0,>=2.18.0->google-api-core<3.0.0dev,>=2.10.2->pandas-gbq) (2024.2.2)
Collecting oauthlib>=3.0.0 (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.7.0->pandas-gbq)
  Downloading oauthlib-3.2.2-py3-none-any.whl.metadata (7.5 kB)
Downloading pandas_gbq-0.22.0-py2.py3-none-any.whl (26 kB)
Downloading db_dtypes-1.2.0-py2.py3-none-any.whl (14 kB)
Downloading google_auth_oauthlib-1.2.0-py2.py3-none-any.whl (24 kB)
Downloading google_cloud_bigquery-3.21.0-py2.py3-none-any.whl (235 kB)
   ---------------------------------------- 0.0/235.5 kB ? eta -:--:--
   --------------------------------------  235.5/235.5 kB 15.0 MB/s eta 0:00:01
   ---------------------------------------- 235.5/235.5 kB 2.9 MB/s eta 0:00:00
Downloading pydata_google_auth-1.8.2-py2.py3-none-any.whl (15 kB)
Downloading requests_oauthlib-2.0.0-py2.py3-none-any.whl (24 kB)
Downloading grpcio-1.62.2-cp311-cp311-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---- ----------------------------------- 0.4/3.8 MB 8.3 MB/s eta 0:00:01
   -------- ------------------------------- 0.8/3.8 MB 8.4 MB/s eta 0:00:01
   ------------- -------------------------- 1.3/3.8 MB 9.0 MB/s eta 0:00:01
   ----------------- ---------------------- 1.7/3.8 MB 8.9 MB/s eta 0:00:01
   ---------------------- ----------------- 2.1/3.8 MB 9.4 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 9.1 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 9.3 MB/s eta 0:00:01
   ------------------------------------ --- 3.4/3.8 MB 9.1 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 9.3 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 9.3 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 7.8 MB/s eta 0:00:00
Downloading grpcio_status-1.62.2-py3-none-any.whl (14 kB)
Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
   ---------------------------------------- 0.0/151.7 kB ? eta -:--:--
   ------------------------------------- -- 143.4/151.7 kB ? eta -:--:--
   ---------------------------------------- 151.7/151.7 kB 1.8 MB/s eta 0:00:00
Installing collected packages: oauthlib, grpcio, requests-oauthlib, grpcio-status, google-auth-oauthlib, db-dtypes, pydata-google-auth, google-cloud-bigquery, pandas-gbq
Successfully installed db-dtypes-1.2.0 google-auth-oauthlib-1.2.0 google-cloud-bigquery-3.21.0 grpcio-1.62.2 grpcio-status-1.62.2 oauthlib-3.2.2 pandas-gbq-0.22.0 pydata-google-auth-1.8.2 requests-oauthlib-2.0.0

In [38]:
import pandas as pd
from pandas_gbq import to_gbq

In [39]:
airbnb_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license', 'room_type_id',
       'location_id'],
      dtype='object')

In [40]:
airbnb_df.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license,room_type_id,location_id
21,1.030000e+18,Rental unit in Queens · ★4.70 · 1 bedroom · 1 ...,231138233,Filiz,Queens,Ridgewood,40.704279,-73.899639,Private room,53.0,1,10,2024-01-29,4.35,7,12,10,Exempt,1,1
36,9.850000e+17,Rental unit in Queens · ★4.80 · 1 bedroom · 1 ...,231138233,Filiz,Queens,Ridgewood,40.705397,-73.898482,Private room,66.0,1,15,2024-01-31,3.81,7,11,15,Exempt,1,1
110,3.549684e+07,Rental unit in The Bronx · ★4.20 · 1 bedroom ·...,127836236,Segun,Bronx,Williamsbridge,40.881510,-73.849400,Entire home/apt,76.0,30,71,2024-01-05,1.26,1,338,11,NaN,2,2
124,4.276155e+07,Rental unit in BROOKLYN · ★4.84 · 1 bedroom · ...,312697286,Steven,Brooklyn,Gravesend,40.599200,-73.974500,Entire home/apt,106.0,5,73,2024-01-30,1.72,3,315,16,Exempt,2,3
157,8.299030e+06,Home in Brooklyn · ★4.59 · 1 bedroom · 1 bed ·...,1182180,"Isaac, Linda & Noelia",Brooklyn,Sunset Park,40.649800,-74.002040,Private room,50.0,30,32,2024-01-19,0.31,4,244,7,NaN,1,4
165,4.699130e+07,Home in Staten Island · ★4.62 · 1 bedroom · 1 ...,379883703,Desmond,Staten Island,Port Richmond,40.631640,-74.132010,Private room,100.0,1,61,2024-01-01,1.92,1,279,19,OSE-STRREG-0000558,1,5
177,8.360000e+17,Condo in New York · ★5.0 · 2 bedrooms · 2 beds...,8736641,Nelson,Manhattan,Harlem,40.821230,-73.951260,Entire home/apt,163.0,3,14,2024-01-03,1.76,1,20,14,OSE-STRREG-0000074,2,6
178,8.860000e+17,Home in Brooklyn · ★4.98 · 2 bedrooms · 3 beds...,238730320,Travis,Brooklyn,South Slope,40.660606,-73.984323,Entire home/apt,300.0,2,46,2024-01-28,5.17,1,120,46,OSE-STRREG-0000288,2,7
211,5.059453e+07,Home in Queens · ★4.66 · 1 bedroom · 1 bed · 1...,18679866,David,Queens,Arverne,40.593266,-73.793114,Entire home/apt,64.0,30,44,2024-01-07,1.49,3,365,19,NaN,2,8
227,4.746711e+07,Rental unit in Brooklyn · ★4.28 · 2 bedrooms ·...,177038905,Crystal,Brooklyn,Bedford-Stuyvesant,40.684820,-73.936100,Entire home/apt,95.0,30,40,2024-01-06,1.15,4,179,4,NaN,2,9
239,3.018214e+07,Condo in New York · ★4.86 · 1 bedroom · 1 bed ...,61391963,Stay With Vibe,Manhattan,Upper East Side,40.773640,-73.957010,Entire home/apt,111.0,30,14,2024-01-15,0.23,130,310,3,NaN,2,10
240,4.101282e+07,Rental unit in Brooklyn · ★4.93 · 2 bedrooms ·...,78643953,Daniel,Brooklyn,Bushwick,40.690250,-73.914240,Entire home/apt,115.0,30,84,2024-01-27,1.68,4,365,28,NaN,2,11
277,3.306131e+07,Rental unit in New York · ★4.94 · 1 bedroom · ...,7289570,Shelley,Brooklyn,Bedford-Stuyvesant,40.682720,-73.919570,Entire home/apt,193.0,4,216,2024-02-01,3.67,2,49,45,Exempt,2,9
297,4.844536e+07,Home in The Bronx · ★5.0 · 1 bedroom · 1 bed ·...,15617507,Glicerda,Bronx,Morris Park,40.850250,-73.862730,Private room,31.0,30,21,2024-01-01,0.60,7,126,4,NaN,1,12
429,3.590116e+07,Boutique hotel in New York · ★4.57 · 1 bedroom...,268362077,Nolitan,Manhattan,Little Italy,40.719650,-73.996440,Private room,223.0,1,138,2024-01-07,3.30,3,353,34,Exempt,1,13
453,9.740000e+17,Townhouse in New York · ★4.58 · 3 bedrooms · 3...,535500187,Lisa,Manhattan,Harlem,40.806554,-73.956802,Entire home/apt,257.0,2,19,2024-02-01,4.22,4,233,19,Exempt,2,6
465,1.367435e+07,Rental unit in Brooklyn · ★4.95 · 1 bedroom ·...,62028227,Frances,Brooklyn,Bedford-Stuyvesant,40.680010,-73.956440,Entire home/apt,120.0,30,96,2024-01-07,1.05,2,299,6,NaN,2,9
514,2.435198e+06,Rental unit in Bronx · ★4.93 · 1 bedroom · 1 b...,12446529,Migdalia,Bronx,Soundview,40.824140,-73.859600,Private room,45.0,30,56,2024-01-18,0.71,2,132,5,NaN,1,14
527,4.927305e+07,Rental unit in Brooklyn · ★4.91 · 1 bedroom · ...,103747506,Rebecca,Brooklyn,Crown Heights,40.677510,-73.937430,Entire home/apt,259.0,30,23,2024-01-11,2.56,4,361,23,NaN,2,15
530,3.514945e+07,Hotel in Brooklyn · ★4.69 · 1 bedroom · 1 bed ...,262224408,NU Hotel,Brooklyn,Downtown Brooklyn,40.697670,-73.986960,Private room,314.0,1,13,2024-01-01,0.30,7,325,1,Exempt,1,16

In [41]:
!pip install google-cloud-bigquery

Requirement already satisfied: google-cloud-bigquery in c:\users\berire\anaconda3\lib\site-packages (3.21.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (2.18.0)
Requirement already satisfied: google-auth<3.0.0dev,>=2.14.1 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.29.0)
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.6.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.4.1)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.7.0)
Requirement already satisfied: packaging>=20.0.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery) (23.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: requests<3.0.0dev,>=2.21.0 in c:\users\berire\anaconda3\lib\site-packages (from google-cloud-bigquery) (2.31.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.63.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (4.25.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.23.0)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.62.2)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in c:\users\berire\anaconda3\lib\site-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.1->google-cloud-bigquery) (1.62.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\berire\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\berire\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\berire\anaconda3\lib\site-packages (from google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (4.9)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in c:\users\berire\anaconda3\lib\site-packages (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery) (1.5.0)
Requirement already satisfied: six>=1.5 in c:\users\berire\anaconda3\lib\site-packages (from python-dateutil<3.0dev,>=2.7.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\berire\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.21.0->google-cloud-bigquery) (2024.2.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\berire\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0dev,>=2.14.1->google-cloud-bigquery) (0.4.8)

In [45]:
# Define your BigQuery dataset and table
project_id = 'evocative-tube-420816'
dataset_id = 'airbnb_data_warehousing_project'
table_id = 'airbnb_schema'
 
# Construct the full table path
full_table_path = f'{dataset_id}.{table_id}'
 
# Upload the DataFrame to BigQuery
to_gbq(airbnb_df, full_table_path, project_id, if_exists='replace')  # Options for if_exists are 'fail', 'replace', 'append'

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

In [47]:
file_path = 'C:/Users/Berire/Desktop/BARUCH COLLEGE CLASSES/SPRING 2024/CIS 9440 DATA WAREHOUSING/HW 1/final_airbnb_dataset.csv'
airbnb_df.to_csv(file_path, index=False)

print("DataFrame has been saved to CSV file successfully.")

DataFrame has been saved to CSV file successfully.

In [49]:
# Read the CSV file into a DataFrame
airbnb_listings= '/Users/Berire/Desktop/BARUCH COLLEGE CLASSES/SPRING 2024/CIS 9440 DATA WAREHOUSING/HW 1/nyc airbnb data.csv'

df_raw = pd.read_csv(airbnb_listings)


# Define your BigQuery dataset and table
project_id = 'evocative-tube-420816'
dataset_id = 'airbnb_data_warehousing_project'
table_id = 'raw_data_airbnb'
 
# Construct the full table path
full_table_path = f'{dataset_id}.{table_id}'
 
# Upload the DataFrame to BigQuery
to_gbq(df_raw, full_table_path, project_id, if_exists='replace')  # Options for if_exists are 'fail', 'replace', 'append'

100%|███████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 964.87it/s]